.venv
models
.ipynb_checkpoints/
Session1/.ipynb_checkpoints/
.env
Session1/models/
Session2/.ipynb_checkpoints
Session3/.ipynb_checkpoints
Session4/.ipynb_checkpoints
Session5/.ipynb_checkpoints
Session6/.ipynb_checkpoints
Session7/.ipynb_checkpoints
Session5/bart-newsqa-sum 
Session5/bart-newsqa-sum-final
Session7/chroma_md
Session7/data
